[submodule "base/activity"]
	url = git@github.com:Ztiany/android-arch-activity.git
[submodule "base/adapter"]
	url = git@github.com:Ztiany/android-arch-adapter.git
[submodule "base/fragment"]
	url = git@github.com:Ztiany/android-arch-fragment.git
